body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-weight: thin;
    font-size: 18px; 
    background-color: #042F3D;
}

#summonList {
    /*margin: auto;*/
    display: inline-block;
    text-align: center;
    width: 300px;
}

#summonList > * > ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}

#summonList > * > li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}

#summonList * img {
    display: block;
    height: auto;
    max-width: 100%;
}

#rosterList {
    display: none;
}

.roster-list {
    display: inline-block;
    height: 345px;
    overflow: auto;
}

.featured-unit-name {
    color: orange;
}

#summonName {
    width: 300px;
}

#summonName img {
    width: 300px;
}

.summon-button {
    cursor: pointer;
    width: 100px;
    position: relative;
    margin-left: 8px;
}

#resultList {
    position: relative;
}

.summon-row {
    overflow: none;
    transition: all .2s ease-in-out;
    margin: 7px;
    width: 450px;
    height: 70px;
    border-collapse: collapse;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.2);
    cursor:pointer;
}

.rarity-5-star {
    background-color: rgba(0, 0, 0, 0.54);
    color: #32b9e4;
}

.rarity-4-star {
    background-color: rgba(13, 19, 41, 0.54);
    color: #4d6a9a;
}

.rarity-3-star {
    background-color: rgba(39, 45, 58, 0.54);
    color: #597288;
}

.summon-row * {
    display: inline-block;
    vertical-align: middle;
}

.summon-row:hover {
    -webkit-box-shadow: inset 0px 0px 0px 2px rgb(45, 169, 197);
    -moz-box-shadow: inset 0px 0px 0px 2px rgb(45, 169, 197);
    box-shadow: inset 0px 0px 0px 2px rgb(45, 169, 197);
}

.summon-row p {
    margin-left: 5px;
}

.unit-icon {
    height: 100%;
}

.element-icon {
    position: relative;
    float: right;
    top: 50%;
    margin-top: -24px;
}

#left-container {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.2);
    width: 310px;
    padding-left: 10px;
    height: 97vh;
    overflow: auto;
}

#mid-container {
    position: absolute;
    top: 8px;
    left: 340px;
    vertical-align: top;
    width: 465px;
    height: 97vh;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.2);
}

#right-container {
    position: absolute;
    top: 8px;
    left: 815px;
    vertical-align: top;
    width: 43vw;
    height: 97vh;
    overflow: auto;
}